.container-fluid {
  padding: 0;
}
.navbar-default{
  background-color: transparent;
  border: none;
}
.carousel-inner>.item>img,
.carousel-inner>.item>img{
  height: 100vh;
  width: 100vw;
}

#story p {
color: #f14a24;

}
#story h1 {
color: #f15a24;
font-family: 'Lobster',cursive;
text-shadow: 1px 1px 5px #000;
font-size: 80px;
margin-bottom: 0;
}
#story h3 {
font-family: 'raleway',sans-serif;
font-weight: 700;
font-size: 26px;
margin-top: 0;
}
#story #year {
  font-family: 'Playfair Display',serif;
  font-weight: 700;
  color: #ddd;
  z-index: -1;
  position: absolute;
  font-size: 200px;
}
#review{
background-image: url('../img/food_review.jpg');
  background-image: cover;
  background-attachment: fixed;
  height: 500px;

}

#review h1 {
  font-family: 'lobster',cursive;
  font-size: 70px;
  color: #f15a24;
  text-align: center;
}
#review p {
  font-family: 'Raleway',sans-serif;
  font-size: 28px;
  color: #fff;
  text-align: center;
}

#review .review-bg{
  margin-top: 125px;
  background-color: rgba(0, 0, 0, .4);
  padding: 30px;

}


#menu{
  background-image: url('../img/black_linen.png');
  min-height: 500px;
}

#menu h1 {
  font-family: 'lobster',cursive;
  color: #fff;
  text-align: center;
  font-size: 60px;
  padding-bottom: 30px;

}


#menu .tab-pane{
  background-color: #fff;
  padding: 15px;
}




.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
color: #f15a24;

}


.tab-content{
  padding-bottom: 75px;
}








#contact{
  background-color: #f15a24;
  color: #fff;
}
